.ff-fisher-root {
    margin: auto;
    width: 900px;
}

.ff-fisher-header {
    margin-bottom: 15px;
    position: relative;
}

.ff-fisher-header.ff-card {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ff-fisher-header-clock-label,.ff-fisher-header-clock {
    display: inline-block;
    line-height: 30px;
    margin-top: -10px;
    vertical-align: middle;
}

.ff-eorzea-clock {
    color: #fff0a0;
    font-weight: 700;
}

.ff-fisher-header-weather-source {
    font-size: 11px;
    line-height: 11px;
}

.ff-fisher-header-new-fish {
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 16px;
}

.ff-new-fish-dialog input[type=text] {
    margin-bottom: 5px;
    margin-left: 10px;
}

.ff-fisher-all-fish,.ff-fisher-areas {
    margin-bottom: 40px;
}

.ff-fisher-areas-container {
    margin-bottom: 10px;
}

.ff-fisher-area {
    margin-bottom: 15px;
}

.ff-fisher-areas-toggle {
    color: #deb887;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    opacity: .9;
}

.ff-fisher-area-name {
    color: #deb887;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 5px;
    opacity: .9;
}

.ff-fisher-areas-toggle:hover,.ff-fisher-area-name:hover {
    opacity: 1;
}

.ff-fisher-areas-toggle {
    margin-bottom: 15px;
}

.ff-fisher-areas-toggle-text {
    display: inline-block;
}

.ff-fisher-area-chevron {
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    vertical-align: top;
}

.ff-fish-table {
    width: 100%;
}

.ff-fisher-area.ff-collapsed {
    margin-bottom: -8px;
}

.ff-fisher-area.ff-collapsed>div {
    display: none;
}

.ff-fisher-area.ff-collapsed>div.ff-fisher-area-name {
    display: inline-block;
}

.ff-collapsed .ff-fisher-area-chevron {
    margin-top: 5px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ff-fish-row {
    font-size: 14px;
    opacity: .4;
    width: 100%;
}

.ff-fish-row.ff-fish-catchable {
    opacity: 1;
}

.ff-fish-row-cells {
    padding: 3px 0;
}

.ff-fish-cell {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
}

.ff-fish-row-color-chooser-container {
    height: 30px;
    width: 30px;
}

.ff-fish-color-chooser-color-container {
    background-color: #fff;
    display: inline-block;
    height: 24px;
}

.ff-fish-color-chooser {
    height: 26px;
    margin-left: 5px;
    margin-top: 2px;
    position: relative;
    width: 26px;
}

.ff-fish-color-chooser-color {
    border: 1px solid transparent;
    cursor: pointer;
    height: 10px;
    position: absolute;
    width: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.ff-fish-color-chooser-color:hover {
    border: 1px solid #fff;
}

.ff-fish-color-clear {
    background-color: #333;
    left: 0;
    top: 0;
}

.ff-fish-color-one {
    background-color: #d77625;
    right: 0;
    top: 0;
}

.ff-fish-color-two {
    background-color: #035002;
    bottom: 0;
    left: 0;
}

.ff-fish-color-three {
    background-color: #741114;
    bottom: 0;
    right: 0;
}

.ff-fish-row-color-one>.ff-fish-row-cells {
    background-color: #d77625;
}

.ff-fish-row-color-two>.ff-fish-row-cells {
    background-color: #035002;
}

.ff-fish-row-color-three>.ff-fish-row-cells {
    background-color: #741114;
}

.ff-fish-row-icon {
    height: 30px;
    width: 30px;
}

.ff-fish-row-name {
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}

.ff-fish-row-time {
    width: 300px;
}

.ff-fish-time {
    background: #333;
    border: 1px solid #fff;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.ff-fish-time-range {
/*
    background: #2b73c5;
    opacity: .35;
*/
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.ff-fish-catchable-range {
    background: #2b73c5;
    bottom: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

.ff-fish-time-change {
    background: #fff;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 3;
}

.ff-fish-time-cursor {
    background: #fff0a0;
    bottom: 0;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 4;
}

.ff-fish-time-tooltip {
    background-color: #333;
    border: 1px solid #555;
    color: #fff0a0;
    font-size: 12px;
    margin-top: 32px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    width: 120px;
    z-index: 5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ff-fish-time-tooltip-weather img {
    height: 20px;
    margin-top: -2px;
    vertical-align: middle;
    width: 20px;
}

.ff-fish-row-location {
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
}

.ff-fish-row-predator-info {
    cursor: pointer;
    margin-right: 18px;
    margin-top: 3px;
    position: relative;
}

.ff-fish-row-predator-image,
.ff-fish-row-action-image {
    height: 25px;
    width: 25px;
}

.ff-fish-row-action-image {
    border-radius: 50%;
}

.ff-fish-row-predator-count {
    font-size: 20px;
    font-weight: 700;
    height: 25px;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    top: 0;
    width: 25px;
}

a>.ff-fish-row-predator-count:hover {
    color: #fff;
}

.ff-fish-cell.ff-fish-row-best-catch-path {
    margin-right: 0;
}

.ff-fish-catch-path,
.ff-fish-row-action {
    margin-top: 4px;
}

.ff-fish-catch-path-part {
    display: inline-block;
}

.ff-fish-catch-path-part-image {
    height: 25px;
    width: 25px;
}

.ff-fish-catch-path-part-divider {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    margin: 0 2px;
    margin-top: -3px;
    vertical-align: top;
}

.ff-fish-tooltip {
    background-color: #333;
    border: 1px solid #555;
    color: #fff0a0;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    text-align: center;
    vertical-align: top;
    z-index: 5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ff-fish-view-control {
    margin-bottom: 15px;
}

.ff-fish-view-title {
    display: inline-block;
    margin-right: 10px;
}

.ff-fish-view-radio-button {
    cursor: pointer;
}

.ff-fish-view-radio-button-label {
    cursor: pointer;
    margin-right: 5px;
}

.ff-fish-view-filter {
    float: right;
    margin-top: -3px;
    vertical-align: top;
}

.ff-fish-view-title-hide {
    line-height: 30px;
    vertical-align: middle;
}

.ff-fish-view-color {
    border: 2px solid #666;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    margin-right: 6px;
    opacity: .8;
    vertical-align: middle;
    width: 26px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.ff-fish-view-color:hover {
    opacity: 1;
}

.ff-fish-view-color.ff-fish-view-filter-enabled {
    border: 2px solid #fff;
    opacity: 1;
}

.ff-fish-view-color-one {
    background-color: #d77625;
}

.ff-fish-view-color-two {
    background-color: #035002;
}

.ff-fish-view-color-three {
    background-color: #741114;
}

body {
    background-color: #111;
    color: #ddd;
    font-family: Open Sans;
    font-size: 16px;
    margin: 0;
    padding: 0 0 60px 0;
}

.ff-table {
    display: table;
}

.ff-row {
    display: table-row;
}

.ff-cell {
    display: table-cell;
}

.ff-card {
    background-color: #333;
    border: 1px solid #555;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #00bfff;
    text-decoration: underline;
}

button {
    border: 1px solid #666;
    color: #ddd;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 4px 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #222;
    background-image: -webkit-linear-gradient(top,#777 0%,#000 100%);
    background-image: -moz-linear-gradient(top,#777 0%,#000 100%);
    background-image: -ms-linear-gradient(top,#777 0%,#000 100%);
    background-image: -o-linear-gradient(top,#777 0%,#000 100%);
    background-image: linear-gradient(top,#777 0%,#000 100%);
}

button:hover {
    color: #fff;
    border-color: #00adff;
    background-color: #777;
    background-image: -webkit-linear-gradient(top,#777 0%,#222 100%);
    background-image: -moz-linear-gradient(top,#777 0%,#222 100%);
    background-image: -ms-linear-gradient(top,#777 0%,#222 100%);
    background-image: -o-linear-gradient(top,#777 0%,#222 100%);
    background-image: linear-gradient(top,#777 0%,#222 100%);
}

button:active {
    padding: 5px 12px 3px;
    background-color: #000;
    background-image: -webkit-linear-gradient(top,#000 0%,#777 100%);
    background-image: -moz-linear-gradient(top,#000 0%,#777 100%);
    background-image: -ms-linear-gradient(top,#000 0%,#777 100%);
    background-image: -o-linear-gradient(top,#000 0%,#777 100%);
    background-image: linear-gradient(top,#000 0%,#777 100%);
}

button:disabled {
    cursor: initial;
    opacity: .7;
    padding: 4px 12px;
    background-color: #222;
    background-image: -webkit-linear-gradient(top,#777 0%,#000 100%);
    background-image: -moz-linear-gradient(top,#777 0%,#000 100%);
    background-image: -ms-linear-gradient(top,#777 0%,#000 100%);
    background-image: -o-linear-gradient(top,#777 0%,#000 100%);
    background-image: linear-gradient(top,#777 0%,#000 100%);
}

button.ff-action {
    font-weight: 700;
}

.modal-dialog-bg {
    background: #000;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.modal-dialog {
    background: #333;
    border: 1px solid #8d8d8d;
    color: #fff;
    outline: none;
    position: absolute;
    z-index: 101;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.6);
    -moz-box-shadow: 10px 10px 20px rgba(0,0,0,.6);
    box-shadow: 10px 10px 20px rgba(0,0,0,.6);
}

.modal-dialog-title {
    border-bottom: 1px solid #8d8d8d;
    cursor: pointer;
    font-size: 23px;
    padding: 10px 20px;
    padding-right: 31px;
    position: relative;
}

.modal-dialog-title-close {
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}

.modal-dialog-content {
    padding: 20px;
}

.modal-dialog-buttons {
    padding: 0 20px 20px;
    text-align: right;
}

.modal-dialog-buttons>button {
    vertical-align: top;
}

.goog-buttonset-default {
    margin-right: 10px;
}

input[type=text] {
    border: 1px solid #8d8d8d;
    font-family: Open Sans;
    font-size: 16px;
    outline-color: #00adff;
    padding: 4px 8px;
}

input[type=text]:focus,input[type=text]:hover {
    border-color: #00adff;
}

/* Customizations */

#credits-link {
    float: right;
}